<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.chp.sboot.mybatis.mapper.UserMapper">
    <resultMap id="User" type="org.chp.sboot.mybatis.domain.User">
        <result property="id"  column="id"/>
        <result property="username"  column="username"/>
        <result property="password"  column="password"/>
        <result property="age"  column="age"/>
        <result property="email"  column="email"/>
        <result property="phone"  column="phone"/>
        <result property="createDate"  column="create_date"/>
        <result property="updateDate"  column="update_date"/>
    </resultMap>

    <sql id="userColumns">
        id, username, password, age, email, phone, create_date, update_date
    </sql>
    
    <select id="findById" resultMap="User" parameterType="Integer">
        select
        <include refid="userColumns"/>
        from user
        where id = #{id}
    </select>
</mapper>